@import url("https://fonts.googleapis.com/css2?family=Electrolize&display=swap");

* {
  margin: 0;
  padding: 0;
}

/* !NAVBAR */

body {
  font-family: "Electrolize", sans-serif;
}

.container {
  background-color: black;
  color: white;
}

.navbar {
  background-color: black;
  height: 60px;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0 50px;
}

.logo {
  color: rgb(255, 70, 70);
  font-size: 30px;
}

.menu-list {
  display: flex;
  list-style: none;
  gap: 30px;
  padding: 0;
}

.menu-list-item {
  cursor: pointer;
}

.menu-list-item:hover {
  font-weight: bold;
  scale: 1.2;
}
.menu-list-item:nth-child(1) {
  color: coral;
  font-weight: bold;
}

.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}

.profile-text-container {
  border-radius: 10%;
  display: flex;
  align-items: center;
  gap: 3px;
  line-height: 1;
}

.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  position: relative;
  border-radius: 30px;
  display: flex;
  padding-left: 1px;
  justify-content: space-around;
  align-items: center;
}

.toggle-icon {
  color: goldenrod;
}

.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
  transition: .5s ease all;
}

/* !SIDEBAR */

.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  gap: 40px;
  align-items: center;
  position: fixed;
  top: 0;
}

.sidebar i {
  color: white;
  cursor: pointer;
  font-size: 20px;
}

/* !FEATURED CONTAINER */

.content-wrapper {
  margin-left: 50px;
}

.featured-content {
  background: url("img/v.jpg");
  padding: 50px;
  height: calc(100vh - 160px);
  background-size: 100% 100%;
}

.featured-content img {
  width: 400px;
}

.featured-content p {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px;
  margin: 30px 0;
  color: black;
}

.featured-button {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.featured-button button {
  padding: 10px 25px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  display: flex;
  gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.info-button {
  background-color: rgba(145, 142, 142, 0.6);
  color: white;
}

/* !FILTER */

.movie-item {
  position: relative;
}

.movie-item:hover .movie-item-title,
.movie-item:hover .movie-item-buttons {
  opacity: 1;
}

.movie-list-filter {
  margin: 20px 0 20px 50px;
  padding: 20px;
}

.movie-list-filter select {
  background-color: black;
  color: white;
  padding: 8px 0;
  width: 125px;
}

.movie-list-container {
  margin-left: 70px;
}

.movie-list {
  list-style: none;
  padding: 0;
  height: 300px;
  display: flex;
  align-items: center;
  gap: 30px;
  transform: translateX(0);
  transition: 1s all ease-in-out;
}

.movie-list-wrapper {
  overflow: hidden;
  position: relative;
}

.movie-item-img {
  width: 270px;
  height: 200px;
  object-fit: cover;
}

.movie-item-img:hover {
  scale: 1.2;
  margin: 0 30px;
  transition: 1s;
  opacity: 0.5;
}

.movie-item-title {
  background-color: rgba(40, 40, 40, 0.4);
  padding: 0 10px;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s;
}

.movie-item-buttons {
  background-color: rgba(40, 40, 40, 0.4);
  padding: 10px;
  position: absolute;
  bottom: 10%;
  left: 50px;
  display: flex;
  gap: 20px;
  opacity: 0;
  transition: 1s;
}

.movie-item-buttons i {
  cursor: pointer;
  opacity: 0.5;
  font-size: 20px;
}

.movie-item-buttons i:hover {
  opacity: 1;
}

.arrow{
    width: 100px;
    display: flex;
    font-size: 120px;
    position: absolute;
    right: 0;
    top:100px;
    opacity: 0.5;
}

.arrow:hover{
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}

/* !DARKMODE */

.container.active{
  background-color: white;
  color: black;
}
.navbar.active {
  background-color: white;
  color: black;
  }

.sidebar.active {
  background-color: white;
  color: black;
  }

.sidebar i.active{
  color: black;
}

.movie-list-title.active{
  color: black;
}

.toggle.active{
  background-color: black;
}

.toggle-ball.active{
  background-color: white;
  transform: translateX(-20px);
}
.movie-list-filter select.active{
  background-color: white;
  color: black;
}

/* !RESPONSIVE */
@media only screen and (max-width: 800px){
  .menu-list-item{
    display: none;
  }

  .featured-content{
    height: 50vh;
  }

  .featured-content img{
    width: 100px;
  }

  .featured-content p{
    width: 200px;
    flex-wrap: wrap;
  }
  .movie-list-title{
    font-size: 1em;
  }

  .movie-item-img{
    flex-wrap: wrap;
  }

}